#**TTI103 - Lógica de Programação**

#**Aula L11 - Atividade A1**

#**Prof. Vitor Alex - SUB1 / T03 - 01.04.2025 - 09h30**

# Instruções
A Atividade A1:
* cobre os assuntos estudados nas aulas L1 até L10.
* pode ser realizada em duplas.
* consta de cinco exercícios:
  * Exercício 01 - Valor 2,0 pontos;
  * Exercício 02 - Valor 2,0 pontos;
  * Exercício 03 - Valor 2,0 pontos;
  * Exercício 04 - Valor 2,0 pontos;
  * Exercício 05 - Valor 2,0 pontos;
* deve ser enviada ao ambiente Canvas por apenas um dos integrantes da equipe.

#Identificação
A atividade será realizada em duplas. Favor identificar a tarefa com nome completo e RA de cada integrante da equipe.

In [16]:
# @title Nome - 1º Integrante:
Nome1 = "Insira nome completo" # @param {type:"string"}

In [17]:
# @title RA - 1º Integrante:
RA1 = "RA no formato XX.XXXXX-X" # @param {type:"string"}

In [18]:
# @title Nome - 2º Integrante:
Nome2 = "Insira nome completo" # @param {type:"string"}

In [19]:
# @title RA - 2º Integrante:
RA2 = "RA no formato XX.XXXXX-X" # @param {type:"string"}

#**Exercício 01**
**(Valor: 2,0 pts)** A área de um triângulo pode ser determinada a partir da fórmula de Hierão,

$$K = \sqrt{s(s-a)(s-b)(s-c)}, \text{com }s=\frac{a+b+c}{2},$$

em que $K$ é a área do triângulo, $s$ é o semiperímetro e $a$, $b$ e $c$ são os comprimentos dos lados do triângulo.


Um aluno iniciante em Python desenvolveu um código para automatizar esse cálculo, mas não obteve sucesso. Observe o código desenvolvido e, na célula seguinte, corrija os erros e ajude o colega!

In [20]:
# Código escrito pelo aluno
a = input('Digite o comprimento do 1º lado: ')
b = input('Digite o comprimento do 2º lado: ')
c = input('Digite o comprimento do 3º lado: ')
s = a + b + c / 2
K = sqrt(s*(s-a)*(s-b)*(s-c))
print K

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (277021191.py, line 7)

In [ ]:
# Exercício 01
# Corrija o código aqui!

#**Exercício 02**

**(Valor: 2,0 pts)** Escreva um programa em Python para calcular o salário total a ser pago a um trabalhador por uma semana de trabalho. Horas extras trabalhadas acima das 40 horas contratuais são pagas com adicional de 75% por hora extra trabalhada.

**Requerimento:**
* Insira o número de horas trabalhadas na semana e valor a ser recebido por hora;
* Calcule o número de horas adicionais e o pagamento extra por trabalhar mais de 40 horas por semana;
* Calcule o pagamento a ser efetuado;
* Os valores de saída devem ser definidos com 2 casas decimais.

**Exemplos de saída:**

$\Rightarrow$ Abaixo das 40 horas contratuais:

`Digite o número de horas trabalhadas na semana: 25`

`Digite o valor a ser recebido por hora trabalhada: 12`

`O salário a ser recebido é de $300.00`

$\Rightarrow$ Acima das 40 horas contratuais:

`Digite o número de horas trabalhadas na semana: 57`

`Digite o valor a ser recebido por hora trabalhada: 12`

`Você trabalhou 17 horas extras nessa semana. O total pelas horas extras é de $357.00`

`O salário a ser recebido é de $837.00`

In [ ]:
# Exercício 02

horas_trabalhadas = int(input("Digite o número de horas trabalhadas na semana: "))
valorhora = int(input("Digite o valor a ser recebido por horas trabalhadas: "))
if horas_trabalhadas < 40:
    salario = horas_trabalhadas * valorhora
    print(f"O salário a ser recebido é de R${salario:.2f}")
else:
    aumentohoras = horas_trabalhadas - 40
    aumentosalario = aumentohoras * (1 + 75/100)
    salariototal = aumentosalario + salario
    print(f"Você trabalhou {aumentohoras} extras nessa semana. O total pelas horas extras é de R${aumentosalario:.2f} ")

Você trabalhou 17 extras nessa semana. O total pelas horas extras é de R$29.75

#**Exercício 03**

**(Valor: 2,0 pts)** As escalas de temperatura *Celsius* e *Fahrenheit* são largamente empregadas no estudo de fenômenos termodinâmicos. A expressão de conversão é

$$F=\frac{9}{5}C+32,$$

em que $F$ é a temperatura em graus Fahrenheit e $C$ em graus Celsius.

Elabore um programa em Python que faça a conversão Celsius-Fahrenheit caso seja inserido o código $C$ ou Fahrenheit-Celsius, caso o código seja $F$.

**Requerimento:**
* Ambas as letras $c$ ou $C$ devem ser entradas válidas para a conversão Celsius-Fahrenheit;
* Ambas as letras $f$ ou $F$ devem ser entradas válidas para a conversão Fahrenheit-Celsius;
* Se o código de entrada for inválido, exiba a mensagem:
`Código inválido! Por favor, digite c, C, f ou F.`

**Exemplos de saída:**

$\Rightarrow$ Conversão Celsius-Fahrenheit:

`Digite o código de conversão: c`

`Temperatura em graus Celsius: 0`

`Conversão - Temperatura em graus Fahrenheit = 32.00`

$\Rightarrow$ Conversão Fahrenhieit-Celsius:

`Digite o código de conversão: F`

`Temperatura em graus Fahrenheit: 70`

`Conversão - Temperatura em graus Celsius = 21.11`

$\Rightarrow$ Código inválido:

`Digite o código de conversão: r`

`Código inválido! Por favor, digite c, C, f ou F.`

In [ ]:
# Exercício 03

#**Exercício 04**

**(Valor: 2,0 pts)** Considere a lista `alunos` definida na célula a seguir:

In [ ]:
# Execute a célula!
alunos = [['Vanessa', 'Pietro', 'Janaína', 'Gregório', 'Quitéria'],
          [5.0, 7.5, 10.0, 6.0, 7.5]]

A lista `alunos` é composta por duas listas:
* a primeira contém os nomes de 5 alunos;
* a segunda contém as notas dos respectivos alunos em uma prova final.

**a)** Na célula abaixo, escreva o código para acessar o nome e a nota do quarto aluno.

In [ ]:
# Item a)
alunos = [['Vanessa', 'Pietro', 'Janaína', 'Gregório', 'Quitéria'],
          [5.0, 7.5, 10.0, 6.0, 7.5]]

nome_quarto_aluno = alunos[0][3]
nota_quarto_aluno = alunos[1][3]

print(f"Nome do quarto aluno: {nome_quarto_aluno}")
print(f"Nota do quarto aluno: {nota_quarto_aluno}")

Nome do quarto aluno: Gregório
Nota do quarto aluno: 6.0

**b)** O aluno `Pietro` foi transferido para outra turma. Escreva o código que gera uma nova lista `alunos`, retirando o referido aluno e sua respectiva nota.

In [ ]:
# Item b)
alunos = [['Vanessa', 'Pietro', 'Janaína', 'Gregório', 'Quitéria'],
          [5.0, 7.5, 10.0, 6.0, 7.5]]

indice_pietro = alunos[0].index('Pietro')

alunos[0].pop(indice_pietro)
alunos[1].pop(indice_pietro)

print("A Lista Atualizada (Sem o pietro): ")
print(alunos)

A Lista Atualizada (Sem o pietro):
[['Vanessa', 'Janaína', 'Gregório', 'Quitéria'], [5.0, 10.0, 6.0, 7.5]]

**c)** O aluno `Ricardo` entrou na turma de estudantes. Sua nota na prova final foi $8.5$. Escreva o código que insere o referido aluno e sua nota na lista `alunos`.

In [ ]:
# Item c)

alunos_notas = [['Vanessa', 'Janaína', 'Gregório', 'Quitéria'],
          [5.0, 10.0, 6.0, 7.5]]

alunos_notas[0].append('Ricardo')
alunos_notas[1].append(8.5)

print("Lista depois de inserir o Ricardo:")
print(alunos_notas)

Lista depois de inserir o Ricardo:
[['Vanessa', 'Janaína', 'Gregório', 'Quitéria', 'Ricardo'], [5.0, 10.0, 6.0, 7.5, 8.5]]

**d)** Usando a lista `alunos` obtida no item anterior, calcule a média obtida na prova final.
*IMPORTANTE:* Use os comandos `sum()`e `len()`.

In [ ]:
# Item d

alunos = [['Vanessa', 'Janaína', 'Gregório', 'Quitéria', 'Ricardo'],
          [5.0, 10.0, 6.0, 7.5, 8.5]]

media_notas = sum(alunos[1]) / len(alunos[1])

print(f"Média das notas da turma é: {media_notas}")

Média das notas da turma é: 7.4

#**Exercício 05**

**(Valor: 2,0 pts)** Use a biblioteca `ColabTurtlePlus` para desenhar o padrão a seguir:

![image.png]()

Para usar as tartarugas, execute a célula:

In [21]:
!pip install ColabTurtlePlus

'pip' n�o � reconhecido como um comando interno
ou externo, um programa oper�vel ou um arquivo em lotes.

* O quadrado e o círculo estão centrados na tela, que tem dimensões $2\cdot\text{LADO x }2\cdot\text{LADO}$ *pixels* ;
* O lado do quadrado mede $\text{LADO}$ *pixels* ;
* O raio do círculo mede $\text{LADO}$ *pixels*.

Use a célula de código a seguir, em que já estão definidas certas constantes e criada a tela de desenho.

In [ ]:
# Exercício 05
from ColabTurtlePlus.Turtle import *

# Constantes
LADO = 200            # Lado da "janela" (canvas)
VELOCIDADE = 7        # Escala de 1 a 13

# Criação do canvas
clearscreen()             # Limpa a tela da execução anterior
setup(2*LADO, 2*LADO)     # Tamanho da janela
bgcolor('white')          # Cor de fundo da tela
showborder()              # Mostra a borda

##### INSIRA O SEU CÓDIGO #####